<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Assemble</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Left Sidebar (Navbar) -->
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('saved_projects') }}">Saved Projects</a></li>
                <li><a href="{{ url_for('analytics') }}">Analytics</a></li>
                <li><a href="{{ url_for('about_us') }}">About Us</a></li>
            </ul>
        </nav>

<div class="main-content">
            <h2>About Us Page</h2>

    <p>Assemble is a new startup launched in Edinburgh, 2024.</p>
    <p>We aim to provide an added tool for project management to facilitate a smooth project workflow for our users.</p>
</div>

</body>
</html>