<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics - Assemble</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Left Sidebar (Navbar) -->
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('saved_projects') }}">Saved Projects</a></li>
                <li><a href="{{ url_for('analytics') }}">Analytics</a></li>
                <li><a href="{{ url_for('about_us') }}">About Us</a></li>
            </ul>
        </nav>

<div class="main-content">
            <h2>Analytics page</h2>
            <!-- Add saved projects content here -->
</div>

</body>
</html>